@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@1,200;1,300&family=Poppins:wght@200;300;400;500;600,700&display=swap');

:root {
    --bg-black-900: #f2f2fc;
    --bg-blasck-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;
}

body.dark {
    --bg-black-900: #151515;
    --bg-blasck-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

*img {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    pointer-events: none
}

::after,
::before {
    box-sizing: border-box;
}

ul {
    list-style: none;
}

.section {
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.3s ease;
}




.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.container {
    max-width: 1100px;
    width: 100%;
    margin: auto;
}

.section .container {
    padding-top: 20px;
    padding-bottom: 70px;
}

.section-title {
    flex: 0 0 100%;
    max-width: 50%;
    margin-bottom: 60px;
}

.section-title h2 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h3 {
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}

.section-title h2::before {
    content: '';
    height: 4px;
    width: 75px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}

.section-title h2::after {
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}

.row {
    display: flex;
    flex-flow: wrap;
    margin-right: -15px;
    margin-left: -15px;
    position: relative;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 20px 0%;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
    background-color: green;
    color: yellow;
}

.btn-1 {
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 20%;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.btn-1:hover {
    transform: scale(1.05);
    background-color: green;
    color: yellow;
}

.btn-2 {
    margin-top: 15px;
    margin-bottom: 7px;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    padding: 7px 20px;
    color: white;
    border-radius: 15px;
    display: inline-block;
    width: 100%;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.btn-2:hover {
    transform: scale(1.05);
}

.btn-3 {
    margin-top: 15px;
    margin-bottom: 7px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    padding: 10px;
    color: white;
    border-radius: 8px;
    display: inline-block;
    width: 32.5%;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.btn-3:hover {
    transform: scale(1.30);
}


.btn-4 {
    font-size: 16px;
    font-weight: 500;
    padding: 5px 30px;
    color: white;
    border-radius: 15px 0%;
    display: inline-block;
    white-space: nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
}

.btn-4:hover {
    transform: scale(1.05);
    background-color: green;
    color: yellow;
}


.shodow-dark {
    box-shadow: 0 0 20px rgba(48, 46, 77 0.15);
}



/* download Section*/
.download .container {
    padding-bottom: 10px;
}



.download .download-item {
    margin-bottom: 20px;
    flex: 0 0 25%;
    max-width: 25%;
}



.download .download-item .download-item-inner {
    background-color: var(--bg-blasck-100);
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    padding: 15px 15px;
    text-align: center;
    transition: all 0.35 ease;
}

.download .download-item .download-item-inner:hover {
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}

.download .download-item .download-item-inner .icon {
    height: 60px;
    width: 60px;
    border-radius: 20% 0%;
    display: block;
    margin: 0 auto 30px;
    text-align: center;
    transition: all 0.3s ease;
}

.download .download-item .download-item-inner .icon .fa {
    font-size: 50px;
    line-height: 60px;
    color: var(--skin-color);
    transition: all 0.3s ease;
}

.download .download-item .download-item-inner:hover .icon {
    background: var(--skin-color);
}

.download .download-item .download-item-inner:hover .icon .fa {
    font-size: 25px;
    color: #ffffff;
}

.download .download-item .download-item-inner h4 {
    font-size: 22px;
    margin-bottom: 15px;
    color: var(--text-black-900);
    font-weight: 700;
    text-transform: capitalize;
}

.download .download-item .download-item-inner p {
    font-size: 16px;
    color: var(--text-black-700);
    text-align: justify;
    line-height: 25px;
}





@media(max-width:991px) {

    .download .download-item {
        flex: 0 0 50%;
        max-width: 50%;
    }
}



@media(max-width:500px) {

    .download .download-item {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .section-title h2 {
        font-size: 30px;
    }

}